# see: https://www.chezmoi.io/reference/special-files-and-directories/chezmoi-format-tmpl/

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end }}

{{- $exe := "" -}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $exe = ".exe" -}}
{{- end }}

progress: true

edit:
  command: code -w

git:
  autoPush: true

interpreters:
  ts:
    command: {{ .chezmoi.homeDir }}/.local/bin/deno{{ $exe }}
    args:
      - run
      - --config={{ .chezmoi.sourceDir }}/deno.json
      - -qA

scriptEnv:
  SCOOP: {{ .chezmoi.homeDir }}/.scoop
  PSModulePath: C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules

data:
  exe: {{ $exe | quote }}
  osid: {{ $osid | quote }}
