# see: https://www.chezmoi.io/reference/special-files-and-directories/chezmoi-format-tmpl/

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

# no idea why this comment is needed but if I don't put it here
# then the YAML gets corrupted by the above template code.

edit:
  command: code -w

git:
  autoPush: true

interpreters:
  ts:
    command: deno
    args:
      - run
      - -qA

data:
  osid: {{ $osid | quote }}