[init]
	defaultBranch = master

[core]
	eol = lf
	autocrlf = false

[push]
	default = simple

[pull]
	rebase = true

[includeIf "gitdir:~/Projects/Personal/"]
	path = ~/Projects/Personal/.gitconfig

[includeIf "gitdir:~/Projects/Xero/"]
	path = ~/Projects/Xero/.gitconfig

[includeIf "gitdir:~/.local/share/chezmoi"]
	path = ~/Projects/Personal/.gitconfig

[includeIf "gitdir:~/.password-store/"]
	path = ~/Projects/Personal/.gitconfig

[includeIf "gitdir:%(prefix)/mnt/C/Users/brad.jones/Projects/Personal/"]
	path = /mnt/C/Users/brad.jones/Projects/Personal/.gitconfig

[includeIf "gitdir:%(prefix)/mnt/C/Users/brad.jones/Projects/Xero/"]
	path = /mnt/C/Users/brad.jones/Projects/Xero/.gitconfig

[credential]
	{{ if eq .chezmoi.os "windows" -}}
	helper = manager
	{{ else -}}
	helper = cache
	{{ end }}

[gpg]
	{{ if eq .chezmoi.os "windows" -}}
	program = C:\\Users\\brad.jones\\.scoop\\apps\\gpg\\current\\bin\\gpg.exe
	{{ else -}}
	program = /usr/bin/gpg
	{{ end }}

[commit]
	gpgSign = true

[tag]
	forceSignAnnotated = true